@font-face {
    font-family: abc;
    src: url('Touche.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: abc;
    background-color: rgba(238,239,241,255);
}
header{
    height: 60px;
    width: 100%;
   
} 
#h1{
    font-size: 60px;
    font-weight: 600;
} 
#h2{
    font-size: 30px;
    font-weight: 600;
}
ul{
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
}
#left-header{
    width: 45%;
    display: flex;
    margin-left: 45px;
}
#left-header img{
    margin-bottom: 20px;
}
#left-header  li{
    margin-top: 25px;
    font-size: 15px;
    font-weight: 900;
}
#right-header{
    width: 50%;
    display: flex;
    margin-top: 15px;
   
}
#right-header li{
    padding-left: 8px;
    margin-left: 40px;
    
}
a{
    color: black;
}
a:hover{
    border:1px solid black;
    filter: invert();
    background-color:white;
    padding: 9px;
    border-radius: 8px;
}
#left-header li{
    padding-left: 10px;
    
   
}
#middle{
    
    float:left;
    padding: 50px;
    
    
}
 #p0{
    font-size: 21px;
    
}
#p1{
    font-size: 17px;

}
#p0, #p1{
    letter-spacing: -1px;
    opacity: 0.4;
    word-spacing: 2px;
}
#p2{
    letter-spacing: 0px;
    opacity: 0.8;
}
#middle1{
     width: 50%;
     float: left;
     text-align:right;
     
   
}
#middle2{
    width: 45%;
    float: right;
    font-variant:touch ;
}
#bottom{
    margin: 50px;
    float:left;
    text-align: center;
}
#bottom1{
    width: 50%;
     float: left;
}
#bottom2{
    width: 45%;
    float: left;
    height: 200px;
    border-collapse: unset;
}

 b{
    border: 1px solid rgb(201, 195, 195);
    border-radius: 6px;
    line-height: 40px;
    margin: 10px 0px 10px 10px;
    padding: 7px;
    font-size: 12px;
   
}
b{

    text-align: center;
}
#middle img{
    border-radius:12px;
    border: 0px solid rgb(238,239,241);
    background:linear-gradient(to bottom right,
    rgba(238,239,241,1),
    rgba(67, 110, 153,0.5),60%,
    rgba(255, 51, 153,0.5)
      );
    

    
    
}