@font-face {
    font-family: abc;
    src: url('Touche.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: abc;
    background-color: rgba(238, 239, 241, 255);
    margin-top: 200px;
    margin-bottom: -100px;
}

header {
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0px;
    /* background-color: brown; */
}

#h1 {
    font-size: 75px;
    font-weight: 500;
}

#p0 {
    font-size: 23px;
    line-height: 39px;
    opacity: 0.7;
    font-weight: 00;
}

#p1 {
    line-height: 30px;
    font-size: 20px;
    opacity: 0.6;
    letter-spacing: 0.6px;
}

#h2 {
    font-size: 30px;
    font-weight: 600;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
}

#left-header {
    width: 45%;
    display: flex;
    margin-left: 45px;
}

#left-header img {
    margin-bottom: 20px;
}

#left-header li {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 900;
    padding-left: 10px;
}

#right-header {
    width: 50%;
    margin-top: 15px;
}

#right-header li {
    padding-left: 0px;
    margin-left: 130px;
    display: inline;
}

a {
    color: black;
}

a:hover {
    border: 1px solid black;
    filter: invert();
    background-color: white;
    padding: 9px;
    border-radius: 8px;
}

section p {
    font-size: 20px;
}

section {
    display: grid;
    margin: 5% 11% 5% 9%;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 20%;
    row-gap: 5em;
}

#div11 img {
    background: linear-gradient(to bottom, rgba(238, 239, 241, 255), rgb(109, 54, 54));
}

#div1 {
    /* background-color: rgb(60, 53, 95); */
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 450px;
}

#div11 {
    text-align: center;
    /* border: 1px solid rgb(199, 17, 17); */
}

#div12 {
    text-align: left;
    margin-top: 2em;
}

#div2 {
    /* background-color: rgb(202, 125, 24); */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
    column-gap: 2em;
}

#div21 {
    padding-left: 2em;
    text-align: left;
}

#div22 {
    text-align: center;
    margin: 50px 5px 10px 10px;
}

b {
    border: 1px solid rgb(201, 195, 195);
    border-radius: 6px;
    line-height: 40px;
    padding: 9px;
    font-size: 12px;
    opacity: 0.9;
    font-weight: 500;
}

b {
    text-align: center;
}